{% extends 'base.html' %}
 
{% load bscttags %}

{% block BSCT_CONTENT %}

<div class="page-header"><h1>Register</h1></div>

<form method  = 'post' action="/user/register">
    <p>
        <label for="username">User name</label>
        <input id="username" type="text" name="username"/>
    </p>
    <p>
        <label for="password">Password</label>
        <input id="password" type="password" name="password"/>
    </p>
    <p>
        <label for="password_again">Password (Again)</label>
        <input id="password_again" type="password" name="password_again"/>
    </p>
    <p>
        <input type="submit"/>
    </p>
</form>

{% endblock %}
